<nav>
    <a class="button" routerLink="/register">Register</a>    
</nav>

<div>
    <form [formGroup]="form" (submit)="login()" class="custom-form">
        <h1>Login</h1>
        <input type="text" id="email" formControlName="email" placeholder="Email">
        <input type="password" id="password" formControlName="password" placeholder="Password" >
        <button type="submit">LOGIN</button>
    </form>
</div>

@if(existe){
    <div class="respuesta"  id="correct"> LOGIN CORRECTO </div>
}@else {
    <div class="respuesta" id="incorrect"> LOGIN INCORRECTO</div>
}