table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 20px;
    text-align: left;
    background-color: #ffffff; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}
  /* Cabeceras */
  th {
    background-color: #6F9CDE; 
    color: #ffffff; 
    padding: 15px;
    text-transform: uppercase;
    border-bottom: 2px solid #5C87C9; 
  }
  
  /* Filas de la tabla */
  td {
    padding: 12px 15px;
    color: #333333; 
    border-bottom: 1px solid #e0e4eb; 
    font-size: 20px;
  }
  
  /* Alternancia de color en las filas */
  tr:nth-child(even) {
    background-color: #f7faff; /* Azul muy claro */
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff; /* Blanco */
  }
  
  /* Hover en las filas */
  tr:hover {
    background-color: #E2EBF7; /* Azul suave al pasar el mouse */
    cursor: pointer;
  }
  
  /* Icono adicional en la cabecera */
  th:first-child::before {
    content: '🩺 '; /* Icono de estetoscopio */
  }
  
  /* Iconos en los nombres */
  td:first-child::before {
    content: '💉 '; /* Icono de jeringa */
    margin-right: 5px;
  }
  img {
    width: 80px;
    height: 60px;
  }

  .button {
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    outline: 0;
  }
  .activebutton {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    border: 1px solid #84bbf3;
    color: #ffffff;
    text-shadow: 0 1px 0 #528ecc;
  }
  
  #logout{
    float: right;
  }