form {
    background-color: #eaf3fc; 
    border: 2px solid #6F9CDE;
    border-radius: 10px; 
    padding: 20px;
    max-width: 400px;
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif; 
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1E3559; 
  }
  

  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #6F9CDE;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 16px;
    margin-bottom: 15px;
    background-color: #ffffff; 
  }
  
 
  input[type="text"]:focus {
    border-color: #417ABD; 
    outline: none;
    background-color: #f0f8ff; 
  }
  
 
  button {
    background-color: #6F9CDE; 
    color: #ffffff; 
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #417ABD; 
  
  button:active {
    background-color: #315B8C; 
  }
}


div {
    background-color: #ffffff; 
    border: 2px solid #6F9CDE; 
    border-radius: 10px; 
    padding: 15px;
    margin: 20px auto;
    max-width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    text-align: center; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    color: #1E3559; 
  }
  
  #correct {
    background-color: #a4fcb4; 
    color: #000000; 
  }
  
 
  #incorrect {
    background-color: #ffb8b8;
    color: #000000; 
  }

  .valores{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1E3559;
  }

  .button {
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    outline: 0;
  }
  .activebutton {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    border: 1px solid #84bbf3;
    color: #ffffff;
    text-shadow: 0 1px 0 #528ecc;
  }

  #logout{
    float: right;
  }
  